* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   touch-action: none;
   -ms-touch-action: none;
   -webkit-touch-callout: none;
}

body {
   position: relative;
   width: 100svw;
   height: 100svh;
   overflow: hidden;
}

#myCanvas {
   position: absolute;
   width: 100svw;
   height: 100svh;
   background: #000000;
   /* cursor: pointer; */
}
